header {
    background-color: #008CBA;
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Josefin Sans";
}

body {
	background-color: rgb(32,32,32);
}

.name {
	text-align: center;
	font-size: 55px;
	-webkit-text-stroke: .5px white;
	
}

.container {
	margin-top: 30px;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center align items horizontally */
    gap: 20px; /* Add gap between boxes */
	
}
	


.button1 {
	background-color: white;
	font-size: 20px;
	padding: 10px 30px;
	border-radius: 20px;
	display: flex;  
	justify-content: center;  
	align-items: center;  
    margin: auto;  
	font-family: "Josefin Sans";
	text-align: center;
}

.button1:hover {
	background-color: #008CBA;
}

.box-1 {
	border-radius: 15px 50px;
	height: 360px;
	width: 350px;
	background-color: #008CBA;
	display: block;
	opacity: 0.8;
	text-align: left; /* Align text within the box to the left */
    padding: 20px;
	display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; 
}

.textbox-1 {
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 80px;
	float: right;
	margin-top: -4px;
	width: 300px;
}

.textbox-2 {
	margin-bottom: 30px;
	margin-right: 15px;
	margin-left: 80px;
	float: right;
	margin-top: -4px;
	width: 300px;
}

.printbox-1 {
	margin-left: 25px;
	margin-top: 15px;
	font-weight: bold;
}

.dropdown {
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 80px;
	float: right;
	margin-top: -4px;
	width: 300px;
}
